<section id="search">
    <form class="search-form">
        <input type="text" id="search-input" class="search-input" placeholder="searching...">
        <button type="reset" class="reset-button">ï—</button>
    </form>
    <div id="search-result" class="toggleResult"></div>
    <p class='no-result'>No results found</p>
</section>