@media mq-mobile
  #mobile-nav
    position: absolute
    top: 0
    left: 0
    width: mobile-nav-width
    height: 25%
    overflow: hidden
    background: color-mobile-nav-background
    box-shadow: inset 0px -7px 5px -6px #000
    

@media mq-mobile
  .mobile-nav-link
    height: 20%
    font-size: 1rem
    display: flex
    align-items: center
    color: color-grey
    border-bottom: 1px solid #5e5e5e
    text-decoration: none
    font-weight: bold
    margin: 3% 20% 0 5%
    &:hover
      color: #fff
